<% layout( 'base' ) -%>

<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <h1 class="text-center"><%= title %></h1>
        <a href="/wolves/new" class="btn btn-success btn-lg btn-block">Add a wolf</a>
        <% if (wolves.length > 0) { %>
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Actions</th>
                </tr>
                <% for ( let wolf of wolves ) { %>
                <tr>
                    <td><%= wolf.name %></td>
                    <td><%= wolf.color %></td>
                    <td>
                        <a href="/wolves/<%= wolf._id %>" class="btn btn-info btn-sm">View</a>
                        <a href="/wolves/edit/<%= wolf._id %>" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/wolves/destroy/<%= wolf._id %>" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                <% } %>
            </table>
        <% } %>
    </div>
    <div class="col"></div>
</div>
